.row {
    display: flex;
}

.cell {
    width: 24px;
    height: 24px;
}

.row:nth-of-type(odd) .cell:nth-of-type(odd) {
    background-color: #aad751
}

.row:nth-of-type(odd) .cell:nth-of-type(even) {
    background-color: #a2d149
}

.row:nth-of-type(even) .cell:nth-of-type(odd) {
    background-color: #a2d149
}

.row:nth-of-type(even) .cell:nth-of-type(even) {
    background-color: #aad751
}

.head {
    background-color: rgb(153, 0, 255) !important;
}

.tail {
    background-color: rgb(216, 157, 255) !important;
    transition: all 1s;
    /*transition cause performance problem: longer the snake lesser performance */
}

.apple {
    background-image: url(../../assets/image/apple_24px.png) !important;
    background-size: contain;
}

/* For Smaller Screen */
@media screen and (max-width: 520px),
(max-height: 592px) {
    .cell {
        width: 16px;
        height: 16px;
    }
}